*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: black;
    overflow: hidden;
}

#video_bg{
    position: fixed;
}

section{
    position: relative;
}

#perso{
    position: absolute;
    width: 140px;
    height: 200px;
    user-select: none;
}

.memory-card{
    width: 45vw;
    height: 90vh;
    margin-left: 10vw;
    top: 5vh;
    position: relative;
    max-height: 50%;
    background-color: black;
    visibility: hidden;
}

.ligne{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    margin-bottom: 2vh;
}

.ligne img{
    width: 16vh;
    height: 8vw;
    border: 4px solid rgb(255, 193, 21);
    border-radius: 20px;
}

@font-face {
    font-family: amongus;
    src: url("../font/amongus.ttf");
}

@keyframes zoom {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.3, 1.3);
    }
    100% {
      transform: scale(1, 1);
    }
  }

  @keyframes rotation1 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  @keyframes rotation2 {
    from {
      transform: rotate(359deg);
    }
    to {
      transform: rotate(0deg);
    }
  }

  @keyframes fondu {
    from { opacity: 1; }
    to   { opacity: 0; }
  }

#choix{
    width: 75vw;
    height: 15vh;
    left: 12.5vw;
    top: 80vh;
    position: absolute;
    visibility: visible;
    text-align:center;
}

#choix img{
    border: 4px solid white;
    width: 5vw;
    height: 14vh;
}


#selection{
    top: 66vh;
    left: 34vw;
    color: white;
    position: absolute;
    font-family: amongus;
    font-size: 10vh;
    user-select: none;
}

#j1{
    top: 50vh;
    left: 15vw;
    color: rgb(21, 76, 255);
    position: absolute;
    font-family: amongus;
    font-size: 10vh;
    user-select: none;
}

#j2{
    top: 50vh;
    right: 15vw;
    color: rgb(255, 101, 101);
    position: absolute;
    font-family: amongus;
    font-size: 10vh;
    user-select: none;
}

#joueur1_img{
    position: absolute;
    width: 30vh;
    height: 20vw;
    top: 5vh;
    left: 14vw;
}

#joueur2_img{
    position: absolute;
    width: 30vh;
    height: 20vw;
    top: 5vh;
    right: 14vw;
}


#j1_avatar{
    position: absolute;
    width: 20vh;
    height: 15vw;
    top: 5vh;
    right: 32vw;
}

#j2_avatar{
    position: absolute;
    width: 20vh;
    height: 15vw;
    bottom: 7vh;
    right: 32vw;
}

#compteurj1{
    top: 16vh;
    right: 7vw;
    color: rgb(21, 76, 255);
    position: absolute;
    font-family: amongus;
    font-size: 10vh;
    user-select: none;
}

#compteurj2{
    bottom: 16vh;
    right: 7vw;
    color: rgb(255, 101, 101);
    position: absolute;
    font-family: amongus;
    font-size: 10vh;
    user-select: none;
}

#fin_de_jeu{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 10vh;
    font-family: arial, sans-serif;
    color: white;
    font-weight: 400;
    font-size: 40px;
    opacity: 1;
    transition: opacity 2s;
}

#rejouer{
    width: 30vw;
    display: flex;
    top:80vh;
    left: 0;
    right: 0;
    margin: auto;
    justify-content: center;
    font-family: amongus;
	font-size:5vh;
    position: absolute;
    user-select: none;
	border-radius:16px;
	border:3px solid #ffffff;
	color:#ffffff;
    padding:15px 25px;
    display: none;
}

#rejouer:hover{
    border:3px solid #0edf07;
    color:#0edf07;
    cursor: pointer;
}